<div class="container">

  <div class="topbar">
    <img id="logo" src="https://cdn.worldvectorlogo.com/logos/citgo-logo.svg">
  </div>
  <div class="sidebar">
    <div class="infopanel">
      <div class="innerinfopanel">
        <div class="onlive">
          <p>ON LIVE</p>
        </div>
        <div class="time">
        </div>
        <div class="panelstats">
          <div id="temperature"></div>
        </div>
      </div>
    </div>
    <!-- <div id="date_time"></div> -->
    <div class="sidebarelement"><a>Chat</a></div>
    <div class="sidebarelement"><a>Shows</a></div>
    <div class="sidebarelement"><a>Sports</a></div>
    <div class="sidebarelement"><a>Shop</a></div>
    <div class="sidebarelement"><a>Instagram</a></div>

  </div>

  <div class="desktop">
    <div class="innerdesktop">
      <div class="draggable"><div id="player"></div></div>
    </div>
  </div>
<div class="mixcloud-player">
  <iframe id="mixcloud-content" width="100%" height="60" frameborder="0" src="https://www.mixcloud.com/widget/iframe/?feed=https://www.mixcloud.com/NTSRadio/nosedrip-8th-october-2017/&amp;mini=1&amp;embed_uuid=2b6ffc54-26d3-46fe-a17f-246587139b40&amp;replace=0&amp;hide_cover=1&amp;light=1&amp;embed_type=widget_standard&amp;hide_tracklist=1">
  </iframe>
</div>
</div>
